
@{
  Layout = "_Layout";
}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a> |
      <a class="nav-item nav-link" href="/stylist/list">Stylists</a> |
      <a class="nav-item nav-link" href="/Client/list">Clients</a> |
      <strong><a class="nav-item nav-link" href="/stylist/add">Add a Stylist</a></strong>

    </div>
  </div>
</nav>

<body>
  <div class="container-fluid">

    <h2>All Stylists</h2>

    <table>
      <tr>
        <th>No.</th>
        <th>Stylist</th>
      </tr>
        @if (@Model.Count == 0)
        {
          <h3>No stylists have been added yet!</h3>
        }
        @foreach (var stylist in Model)
        {
          <tr>
          <th class="tbl">@stylist.GetId()</th>
          <th class="tbl"><a href = '/@stylist.GetName()/@stylist.GetId()/clientlist'>@stylist.GetName()</a> | <a href="/stylists/@stylist.GetId()/edit">Edit</a> | <a href="/stylists/@stylist.GetId()/delete">Delete</a>
          </th>
          </tr>
        }
      </table>
      <br>
      <i><p>Note : Click on the Stylists to add their clients</p></i>
  </div>
</body>
